<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.mapper.EmployeeMapper">
    <delete id="deleteSI">
        delete
        from salary_info
        where emp_name = #{name}
    </delete>


    <select id="getEmployeeInfo" resultType="com.hang.domain.po.Employee">
        SELECT id, name, sex, dept, salary_jb, salary_dj
        FROM employee
        <where>
            <if test="iname!=null || iname!='' ">
                AND name LIKE concat('%',#{iname},'%')
            </if>
        </where>
        ORDER BY ${vo.sortBy} ${vo.orderBy}
        LIMIT #{page},#{vo.pageSize}
    </select>

    <update id="saveEmployeeInfo">
        UPDATE employee
        SET name      = #{dto.name},
            sex       = #{dto.sex},
            dept      = #{dto.dept},
            salary_jb = #{dto.salary_jb},
            salary_dj = #{dto.salary_dj}
        where id = #{dto.id}
    </update>
</mapper>