<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.mapper.EmployeeMapper">


    <select id="getEmployeeInfo" resultType="com.hang.domain.po.Employee">
        SELECT id, name, sex, dept, salary_jb, salary_dj
        FROM employee
        ORDER BY ${vo.sortBy} ${vo.orderBy}
        LIMIT #{page},#{vo.pageSize}
    </select>
</mapper>