<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.mapper.UserMapper">

    <select id="getByUsername" resultType="com.hang.domain.po.User">
        select id, username, password, status, role
        from user
        where id = #{username}
    </select>
</mapper>